body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}




header {
    background-image: url('img/stonks.png');
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
    color: white;
    font-weight: bold;
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu div {
    display: flex;
    align-items: center;
}

header .menu p {
    margin: 0 20px;
}

header .menu p a {
    color: inherit;
    text-decoration: none;
}

header .menu .buttons {
    margin-right: 70px;
}

header .menu .buttons p.reg {
    padding: 10px 15px;
    border: solid 1px #463930;
    background: #F14F20;
    border-radius: 25px;
}

header .menu img {
    width: 200px;
}

header .invest {
    margin-left: 30%;
}

header .invest div {
    text-align: center;
    max-width: 50%;
    padding-bottom: 20px;
}

header .invest div:first-child {
    font-size: 48px;
}

header .invest div:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

header .invest div.sign {
    margin: 15px 0;
}

header .invest div.sign span {
    background: #F6B815;
    padding: 15px;
    border-radius: 25px;
}

header .invest div.risks {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7)
}

header.about-us {
    background: #264159;
}

header.our-team {
    background: #264159;
}




main .projects {
    margin: 70px 70px 50px;
}

main .projects .projects-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .projects .projects-wrap .project {
    border: solid 1px #c9d9e8;
    border-radius: 3px;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
}

main .projects .projects-wrap .project div {
    font-size: 14px;
}

main .projects .projects-wrap .project > div:first-of-type {
    color: white;
    text-transform: uppercase;
    text-align: center;
    background: #264159;
    padding: 5px;
}

main .projects .projects-wrap .project img {
    height: 298px;
}

main .projects .projects-wrap .project .idea {
    margin: 15px;
}

main .projects .projects-wrap .project .idea ul {
    margin: 15px 0 15px 15px;
    padding: 0;
}

main .projects .projects-wrap .project .idea li {
    margin-bottom: 15px;
    color: #264159;
}




main .info {
    border-top: solid 1px #c9d9e8;
    border-bottom: solid 1px #c9d9e8;
    background: #edf2f7;
    color: #264159;
    padding: 50px;
}

main .info .text {
    text-align: center;
    font-size: 28px;
}

main .info .info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .info .info-wrap .article {
    width: 280px;
    margin: 25px 30px;
}

main .info .info-wrap .article div:first-child {
    text-align: center;
}

main .info .info-wrap .article div {
    margin-top: 15px;
    font-weight: bold;
}

main .info .info-wrap .article div:last-child {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}

main .info .info-wrap .article img {
    height: 70px;
}

main.about-us .info {
    padding: 0 0 70px;
}

main.about-us .info > div {
    margin: 50px 100px;
}

main.about-us .info div.fund {
    display: flex;
}

main.about-us .info div.fund div {
    line-height: 70px;
}

main.about-us .info div img {
    height: 70px;
    margin-right: 10px;
}

main.about-us .info .big {
    font-size: 20px;
    color: #F14F20;
}

main.about-us table {
    margin: auto;
}

main.our-team .info {
    padding: 0;
}

main.our-team .info .info-wrap {
    justify-content: initial;
}

main.our-team .info .info-wrap .article {
    width: 50%;
    padding: 25px 30px;
    box-sizing: border-box;
    margin: 0;
    height: 500px;
}

main.our-team .info .info-wrap .article div {
    margin-top: 15px;
    font-weight: 400;
}

main.our-team .info .info-wrap .article div:first-child {
    text-align: initial;
    text-transform: uppercase;
}

main.our-team .info .info-wrap .article div:last-child {
    font-size: inherit;
    margin-top: inherit;
    font-weight: inherit;
    margin-top: 15px;
}

main.our-team .info .info-wrap .article.background-photo.ph1 {
    background-image: url('img/office.jpg');
}

main.our-team .info .info-wrap .article.background-photo.ph2 {
    background-image: url('img/oleg.webp');
}

main.our-team .info .info-wrap .article.background-photo.ph3 {
    background-image: url('img/ilya.webp');
}

main.our-team .info .info-wrap .article.background-photo.ph4 {
    background-image: url('img/oleksandr.webp');
}

main.our-team .info .info-wrap .article.background-photo.ph5 {
    background-image: url('img/daniela.png');
}




main .projects.funded > div:first-child {
    color: #264159;
    text-align: center;
    font-size: 28px;
    margin: 50px;
}

main .projects.funded .projects-wrap .project div:last-child {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    color: #264159;
}

main .projects.funded .project div:last-child span {
    padding: 10px;
    border-top: dashed 1px #264159;
}





footer {
    color: white;
}

footer .footer-top {
    background: #264159;
}

footer .footer-top .boast-of {
    font-size: 26px;
    width: 40%;
    margin-left: 27%;
    text-align: center;
    padding: 50px 0;
    line-height: 150%;
}

footer .footer-top .fill-in {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 37%;
    padding-bottom: 50px;
}

footer .footer-top .fill-in input {
    background: #1f3447;
    color: white;
    border: solid 1px #2e4f6b;
    height: 30px;
    padding: 5px;
    margin-bottom: 15px;
}

footer .footer-top .fill-in .button {
    background-color: #F14F20;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

footer .footer-middle {
    display: flex;
    justify-content: space-around;
    padding: 70px;
    background: #1f3447;
    color: #c9d9e8;
}

footer .footer-middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 250px;
    box-sizing: border-box;
}

footer .footer-middle li {
    margin: 20px;
}

footer .footer-middle li img {
    width: 200px;
}

footer .footer-middle li:first-child {
    font-weight: bold;
    color: white;
}

footer .footer-bottom {
    text-align: center;
    padding: 50px 0;
    background: #172736;
    color: #c9d9e8;
}