body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #463930;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
}

header p {
    margin: 0 20px;
}

header p.reg {
    padding: 10px 15px;
    border: solid 1px #463930;
    border-radius: 5px;
    margin-right: 100px;
}

header img {
    width: 200px;

}

header.about-us {
    border-bottom: solid 1px #9C6E4C;
}




main .intro {
    font-size: 20px;
    line-height: 150%;
    padding: 30px 0 30px 70px;
    background-image: url('img/textbooks.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
    box-shadow: inset 400px 0 200px -100px white;
}

main .intro div {
    margin-bottom: 20px;
    width: 460px;
}

main .intro div:first-child {
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
}

main .intro div:last-child {
    background-color: #9C6E4C;
    border: solid 1px #9C6E4C;
    border-radius: 7px;
    padding: 8px 10px;
    color: white;
    width: 360px;
    box-sizing: border-box;
}

main .intro input {
    width: 360px;
    border: solid 1px #AC9E95;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
}




main .invest {
    margin: 70px 70px 50px;
}

main .invest h1 {
    margin: 0 0 50px 20px;
    padding: 0;
}

main .invest .invests-wrap {
    display: flex;
    justify-content: space-around;
}

main .invest .invests-wrap .project {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 10px rgba(29, 33, 42, 0.3);
    border-radius: 5px;
}

main .invest .invests-wrap .project img {
    height: 250px;
}

main .invest .invests-wrap .project > div {
    margin: 15px 10px;
}

main .invest .invests-wrap .project > div:first-of-type {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: -10px;
}

main .invest .invests-wrap .project .description {
    font-size: 14px;
    margin-top: 5px;
}

main .invest .invests-wrap .project .per {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

main .invest .invests-wrap .project progress {
    color: #81431B;
    background: #AC9E95;
    border: 1px solid #81431B;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    line-height: 20px;
}

::-webkit-progress-bar {
    background: #AC9E95;
}
::-webkit-progress-value {
    background: #81431B;
}
::-moz-progress-bar {
    background: #81431B;
}

main .invest .invests-wrap .project .cost {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

main .invest .project .cost > div {
    border-right: 1px solid #718BC6;
    flex-grow: 1;
}

main .invest .project .cost > div:last-child {
    border: 0;
}

main .invest .project .cost .small {
    font-size: 12px;
}




main .first {
    font-size: 20px;
    line-height: 150%;
    padding: 30px 0 30px;
    background-image: url('img/envelopes.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
    text-align: center;
}

main .first div {
    margin-bottom: 20px;
    width: 460px;
    padding-left: 32%;
}

main .first div:first-child {
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
    width: 700px;
    padding-left: 23%;
}

main .first div span {
    background: rgba(255, 255, 255, 0.7)
}




main .success {
    margin: 70px 70px 50px;
}

main .success h1 {
    margin: 0 0 50px 20px;
    padding: 0;
}

main .success .success-wrap {
    display: flex;
    justify-content: space-around;
}

main .success .success-wrap .project {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 10px rgba(29, 33, 42, 0.3);
    border-radius: 5px;
}

main .success .success-wrap .project.hidden {
    opacity: 0;
}

main .success .success-wrap .project img {
    height: 250px;
}

main .success .success-wrap .project > div {
    margin: 15px 10px;
}

main .success .success-wrap .project > div:first-of-type {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: -10px;
}

main .success .success-wrap .project .description {
    font-size: 14px;
    margin-top: 5px;
}

main .success .success-wrap .project .cost {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

main .success .project .cost > div {
    border-right: 1px solid #AC9E95;
    flex-grow: 1;
    text-align: center;
}

main .success .project .cost > div:last-child {
    border: 0;
}

main .success .project .cost .small {
    font-size: 12px;
}




main .capital {
    font-size: 20px;
    line-height: 150%;
    padding: 30px 0 30px 32%;
    background-image: url('img/envelopes.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
    text-align: center;
}

main .capital div {
    margin-bottom: 20px;
    width: 460px;
}

main .capital div:first-child {
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
}

main .capital div:last-child {
    background-color: #9C6E4C;
    border: solid 1px #9C6E4C;
    border-radius: 7px;
    padding: 8px 10px;
    color: white;
    width: 360px;
    box-sizing: border-box;
    margin-left: 50px;
}

main .capital div span {
    background: rgba(255, 255, 255, 0.7)
}




main.about-us .info {
    padding: 0 0 70px;
    border-bottom: solid 1px #9C6E4C;
}

main.about-us .info:first-child {
    background-image: url('img/envelopes.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
    font-size: 20px;
    line-height: 150%;
    padding: 30px 0 30px;
}

main.about-us .info > div {
    margin: 50px 100px;
}

main.about-us .info div.text {
    padding-top: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
}

main.about-us .info div.fund {
    display: flex;
}

main.about-us .info div.fund div {
    line-height: 70px;
}

main.about-us .info div img {
    height: 70px;
    margin-right: 10px;
}

main.about-us .info .white {
    background: rgba(255, 255, 255, 0.7);
}

main.about-us .info .big {
    font-size: 20px;
    color: #F14F20;
}

main.about-us table {
    margin: auto;
}

main.our-team .info {
    padding: 0;
}

main.our-team .info .info-wrap {
    justify-content: initial;
    display: flex;
    flex-wrap: wrap;
}

main.our-team .info .info-wrap .article {
    width: 50%;
    padding: 25px 30px;
    box-sizing: border-box;
    margin: 0;
    height: 500px;
    background-color: #AC9E95;
}

main.our-team .info .info-wrap .article div {
    margin-top: 15px;
    font-weight: 400;
}

main.our-team .info .info-wrap .article div:first-child {
    text-align: initial;
    text-transform: uppercase;
}

main.our-team .info .info-wrap .article div:last-child {
    font-size: inherit;
    margin-top: inherit;
    font-weight: inherit;
    margin-top: 15px;
}

main.our-team .info .info-wrap .article.background-photo.ph1 {
    background-image: url('img/office.jpg');
}

main.our-team .info .info-wrap .article.background-photo.ph2 {
    background-image: url('img/oleg.webp');
}

main.our-team .info .info-wrap .article.background-photo.ph3 {
    background-image: url('img/ilya.webp');
}

main.our-team .info .info-wrap .article.background-photo.ph4 {
    background-image: url('img/oleksandr.webp');
}

main.our-team .info .info-wrap .article.background-photo.ph5 {
    background-image: url('img/daniela.png');
}




footer .footer-top {
    display: flex;
    justify-content: space-around;
    margin: 0 70px;
    padding: 70px 0;
    border-bottom: solid 1px #AC9E95;
}

footer .footer-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 250px;
    box-sizing: border-box;
}

footer .footer-top li {
    margin: 20px;
}

footer .footer-top li:first-child {
    font-weight: bold;
}

footer .footer-top ul:last-child li {
    font-size: 20px;
    text-align: center;
}

footer .footer-top ul:last-child li:last-child {
    background-color: #9C6E4C;
    border: solid 1px #9C6E4C;
    border-radius: 7px;
    padding: 10px;
    color: white;
}

footer .footer-top ul:last-child li input {
    width: 100%;
    border: solid 1px #AC9E95;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
}

footer .footer-bottom {
    text-align: center;
    margin: 50px 0;
}

footer .footer-bottom .info {
    margin: 50px 0;
}

footer .footer-bottom .info a {
    color: #81431B;
}