body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}




header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #718BC6;
}

header div {
    display: flex;
    align-items: center;
}

header p {
    margin: 0 20px;
}

header p.reg {
    padding: 10px 15px;
    border: solid 1px #bfbfbf;
    border-radius: 5px;
}

header p.log-in {
    background-color: #718BC6;
    border: solid 1px #718BC6;
    color: white;
}




main .background-picture {
    background-image: url(img/background.jpg);
    padding: 400px 70px 50px 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}

main .main-project {
    max-width: 70%;
}

main .main-project .show-over-background {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 380%;
}

main .main-project .show-over-background .highlight {
    color: #F39F18;
}




main .achievements {
    display: flex;
    background-color: #CDE9F7;
    justify-content: space-around;
    padding: 20px 0;
}

main .achievements .achieve-wrap {
    display: flex;
}

main .achievements .achieve-wrap img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

main .achievements .achieve-wrap .achieve > div:first-child {
    font-size: 24px;
}

main .achievements .achieve-wrap .achieve .numbers {
    font-size: 36px;
}

main .achievements .achieve-wrap .achieve > div:nth-child(2) {
    color: #595959;
    display: flex;
    justify-content: space-between;
}




main .new-projects {
    margin: 70px 70px 50px;
}

main .new-projects .projects-wrap {
    display: flex;
    justify-content: space-around;
    color: #595959;
}

main .new-projects .projects-wrap .project {
    border: solid 1px #CDE9F7;
    border-radius: 5px;
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

main .new-projects .projects-wrap .project img {
    height: 250px;
}

main .new-projects .projects-wrap .project div {
    margin: 15px 10px;
}

main .new-projects .projects-wrap .project > div:first-of-type {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

main .new-projects .projects-wrap .project .per {
    margin-bottom: 0;
}

main .new-projects .projects-wrap .project progress {
    color: #556CB0;
    background: #CDE9F7;
    border: 1px solid #556CB0;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    line-height: 20px;
}

::-webkit-progress-bar {
    background: #CDE9F7;
}
::-webkit-progress-value {
    background: #556CB0;
}
::-moz-progress-bar {
    background: #556CB0;
}

main .new-projects .projects-wrap .project .cost {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

main .new-projects .project .cost > div {
    border-right: 1px solid #718BC6;
    flex-grow: 1;
}

main .new-projects .project .cost > div:last-child {
    border: 0;
}

main .new-projects .project .cost .small {
    font-size: 12px;
}



main .news {
    margin: 70px 70px 50px;
}

main h1 {
    font-size: 24px;
    margin: 20px;
    font-weight: 400;
}

main .news .news-wrap {
    display: flex;
    justify-content: space-around;
}

main .news .news-wrap .article {
    border: solid 1px #CDE9F7;
    border-radius: 5px;
    width: 238px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

main .news .news-wrap .article div {
    margin: 15px 10px;
}

main .news .news-wrap .article > div:first-of-type {
    color: #595959;
    text-transform: uppercase;
}

main .news .news-wrap .article .topic {
    font-weight: bolder;
    font-size: 20px;
}

main .news .news-wrap .article .author {
    display: flex;
    align-items: center;
    color: #595959;
}

main .news .article .author img {
    width: 30px;
    height: 30px;
    border: solid 1px #CDE9F7;
    border-radius: 50%;
}



main .about-us {
    padding: 30px 70px;
    border-top: solid 1px #718BC6;
    color: #595959;
}




footer {
    border-top: solid 1px #556CB0;
    background-color: #CDE9F7;
}

footer .footer-top {
    display: flex;
    justify-content: space-around;
    margin: 0 70px;
    padding: 70px 0;
    border-bottom: solid 1px #556CB0;
}

footer .footer-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    box-sizing: border-box;
    color: #595959;
}

footer .footer-top li {
    margin: 10px 0;
}

footer .footer-top li:first-child {
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
}

footer .footer-bottom {
    text-align: center;
    padding-bottom: 20px;
}

footer .footer-bottom .info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

footer .footer-bottom img {
    width: 70px;
    margin: 20px;
}